doctype html
html
    head 
        title Home Page - Press Start Oshawa
    body
	    hr
	    h3 Sort by 
	    select(name='')
		  option(value='Price') Price
		  option(value='Name') Name
		  option(value='Date published') Date published
		h3 Search:
        textarea(rows='1' cols='30')
        i.fa.fa-search
		hr