.footer
  .container-fluid
    .row
      .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12
        | Copyright &copy; 2019 Press Start. Designed by 
        a(href='customer') Corp. Corp. Incorporated
        | .

      .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12
        .text-md-right.footer-links.d-none.d-sm-block
          a(href='#') About
          a(href='#') Contact Us
