// Required meta tags
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')


// Common js functions
script(type='text/javascript' src='/js/commonlib.js')


// Bootstrap CSS
link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
link(rel='stylesheet' href='/assets/vendor/fonts/circular-std/style.css')
link(rel='stylesheet' href='/assets/styles/strap.css')
link(rel='stylesheet' href='/assets/vendor/charts/chartist-bundle/chartist.css')
link(rel='stylesheet' href='/assets/vendor/charts/morris-bundle/morris.css')
link(rel='stylesheet' href='/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css')
link(rel='stylesheet' href='/assets/vendor/charts/c3charts/c3.css')
link(rel='stylesheet' href='/assets/vendor/fonts/flag-icon-css/flag-icon.min.css')


// Other css
link(rel='stylesheet' href='/assets/libs/css/style.css')

// Datatables!
script(type='text/javascript' src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
script(type='text/javascript' src='https://cdn.datatables.net/v/bs/dt-1.10.20/datatables.min.js')
link(rel='stylesheet' href='https://cdn.datatables.net/v/bs4/dt-1.10.20/dataTables.min.css')


title= title
