.nav-left-sidebar.sidebar-dark
  .menu-list
    nav.navbar.navbar-expand-lg.navbar-light
      a.d-xl-none.d-lg-none(href='#') Dashboard
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.flex-column
          li.nav-divider
            | Menu
          li.nav-item
            a.nav-link(href='#')
              i.fa.fa-user-circle
              | Customer
            a.nav-link(href='#')
              i.fa.fa-rocket
              | Inventory
            a.nav-link(href='#')
              i.fa.fa-inbox
              | Repairs
            a.nav-link(href='#')
              i.fa.fa-pie-chart
              | Sales
