.dashboard-header
  nav.navbar.navbar-expand-lg.bg-white.fixed-top
    a.navbar-brand(href='/customer') Press Start
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon

    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto.navbar-right-top            
        li.nav-item
          .top-search-bar
            a(href='/customer/register')
              button.form-control Register                      

        li.nav-item
          .top-search-bar
            a(href='/customer/Login')
              button.form-control Login                  

        li.nav-item
          .top-search-bar
            a(href='../customer')
              button.form-control Logout
