extends header.pug

block content
  body
  include sidebar.pug
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Customer Register

        // register form
        form(method='POST' action='/')
          div.form-group
            label(for='fname') First Name:
            input#name.form-control(type='text', placeholder='first' name='fname')
          div.form-group
            label(for='lname') Last Name:
            input#name.form-control(type='text', placeholder='last' name='lname')
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
          div.form-group
            label(for='pass1') Password:
            input#password.form-control(type='password', placeholder='password' name='pass1')
          div.form-group
            label(for='pass2') Confirm Password:
            input#password.form-control(type='password', placeholder='password' name='pass2')
          div.form-group
            label(for='postalcode') Postal Code:
            input#postalcode.form-control(type='text', placeholder='postalcode' name='postalcode')
          div.form-group
            p Preferred Store
            label(for='ck1') Oshawa:
            input(type='checkbox' name='oshawa' value='oshawa')
          div.form-group
            label(for='ck2') Toronto:
            input(type='checkbox' name='toronto' value='toronto')
          div.form-group
            br
            label(for='ck3') Receive Promotional Offers:
            input(type='checkbox' name='offers' value='offers')
          button.btn.btn-primary(type='submit') Sign up