doctype html
html
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
    link(href='/assets/vendor/fonts/circular-std/style.css' rel='stylesheet')
    link(href='/styles/strap' rel='stylesheet')
    link(rel='stylesheet' href='assets/libs/css/style.css')
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel='stylesheet' href='/assets/vendor/charts/chartist-bundle/chartist.css')
    link(rel='stylesheet' href='/assets/vendor/charts/morris-bundle/morris.css')
    link(rel='stylesheet' href='/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css')
    link(rel='stylesheet' href='/assets/vendor/charts/c3charts/c3.css')
    link(rel='stylesheet' href='/assets/vendor/fonts/flag-icon-css/flag-icon.min.css')
    //link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css')
    title Press Start |  
  // ==============================================================
  // main wrapper
  // ==============================================================
  .dashboard-main-wrapper
    // ==============================================================
    // navbar
    // ==============================================================
    .dashboard-header
      nav.navbar.navbar-expand-lg.bg-white.fixed-top
        a.navbar-brand(href='/') Press Start Oshawa
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ml-auto.navbar-right-top            
            li.nav-item
              .top-search-bar
                button.form-control Register                      
            li.nav-item
              .top-search-bar
                button.form-control Login                  
            li.nav-item
              .top-search-bar
                button.form-control Logout
                  
    // ==============================================================
    // end navbar
    // ==============================================================
    block content