extends header.pug

block content
  body

  // Left Sidebar
  include sidebar.pug

  // ==============================================================
  // wrapper
  // ==============================================================
  .dashboard-wrapper
    .dashboard-ecommerce
      .container-fluid.dashboard-content
        // ==============================================================
        // pageheader
        // ==============================================================
        .row
          .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
            .page-header
              h1.pageheader-title Inventory Search Results
        .row
          .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
            h2
              label(for='exampleFormControlSelect1') Store Name: 
              label Oshawa
            hr
            form.form-inline
              .form-group.mx-sm-3.mb-2
                label.sr-only Item Number
                input(type='text' placeholder='Item Number')
              button.btn.btn-primary.mb-2(type='submit') Search
        br
        .row
          .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
            h2
              | Results:
            hr
            table#inventoryResult
              th
              tr
        // ==============================================================
        // end pageheader
        // ==============================================================
        .ecommerce-widget
          .row
            // ==============================================================
            // ==============================================================
            // recent orders
            // ==============================================================
    // ==============================================================
    // footer
    // ==============================================================
    include footer