doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css')
  body
    nav.navbar.is-info
      div.navbar-brand
        a.navbar-item Press Start Sample Report
        a.navbar_burger.burger(data-target="menu-target")
          span
          span
          span
      div#menu-target.navbar-menu
        div.navbar-start
          a.navbar-item Reports

    block content
