doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css')
    script(type='text/javascript' src='https://www.gstatic.com/charts/loader.js')
    

  body
    nav.navbar.is-info
      div.navbar-brand
        a.navbar-item(href="./") Press Start Sample Report
        a.navbar_burger.burger(data-target="menu-target")
          span
          span
          span
      div#menu-target.navbar-menu
        div.navbar-start
          a.navbar-item(href="./monthlyreport") Monthly Report
          a.navbar-item(href="./itemsalesreport") Item Sales Report

    block content
