extends layout

block content
  table.table.container
    thead
      tr
        th Game
        th Total Sold
        th Total Revenue
    tfoot
      tr
        th Game
        th Total Sold
        th Total Revenue
    tbody
      - for (row of dat)
        tr
          td= row.item_name
          td= row.total_sold
          td= row.total_revenue
