extends ../Partials/layout.pug

block content
  // pageheader
  .row
    .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
      .page-header
        h1.pageheader-title Trade-In Search

  .row
    .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
      table#dt.table
        thead
          tr
            th(style='min-width: 6em;') Member
            th(style='min-width: 10em;') Date
        - for (trade of tradeIns)
          tr
            td
              a(href=`./tradeindetails/${trade.trade_invoice_id}`)= trade.member_first_name + ' ' + trade.member_last_name
            td
              a(href=`./tradeindetails/${trade.trade_invoice_id}`)= trade.trade_invoice_date.toDateString()
