extends ../../Partials/layout.pug

block content
  // ==============================================================
  // pageheader
  // ==============================================================
  .row
    .col-xl-8.col-lg-8.col-md-8.col-sm-8.col-8
      .page-header
        h1.pageheader-title Welcome Management Team
    // ==============================================================
    // end pageheader
    // ==============================================================
    .col-xl-4.col-lg-4.col-md-4.col-sm-4.col-4
      .page-header
        h1.pageheader-title Current Offers
  .row
    .col-xl-8.col-lg-8.col-md-8.col-sm-8.col-8
      div
        h4
          p This is the Manager Dashboard page where you may update sales offers, manage staff and generate reports. 
          p To add or update employees into the system choose Payroll from the sidebar.
    .col-xl-4.col-lg-4.col-md-4.col-sm-4.col-4
      div
        table.table
          - for (row of offers)
            tr
              td= row.news_title
                p= row.news_date_added.toDateString()
              td.text-center= row.news_article
  


