extends ../../Partials/layout

block content
  // ==============================================================
  // pageheader
  // ==============================================================
  .row
    .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
      .page-header
        h1.pageheader-title   
        
        ul.navbar-nav.ml-auto.navbar-right-top            
          li.nav-item
            .top-search-bar
              a(href="./monthlyreport") Monthly Report                   
          li.nav-item
            .top-search-bar
              a(href="./itemsalesreport") Item Sales Report                  

        
        
  .row
    .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
      div
        h3
          p Here you can view reports about the Press Start Business. 
  // ==============================================================
  // end pageheader
  // ==============================================================
  .ecommerce-widget
    .row
      // ==============================================================
      // ==============================================================
      // Results
      // ==============================================================
